#themeSection{
    display: flex;
    justify-content: center;
}


.theme1{
    display: flex;
    width: 5vw;
    padding: 2px 3px;
    justify-content: space-around;
    /* border: 2px solid blue; */
    /* border-radius: 25px; */
    /* font-size: 100%; */
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    color: #fff;
}
.theme2{
    display: flex;
    width: 5vw;
    padding: 2px 3px;
    justify-content: space-around;
    /* border: 2px solid blue; */
    /* border-radius: 25px; */
    /* font-size: 100%; */
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.theme1 div{
    font-size:1vw;
}
.theme2 div{
    font-size:1vw;
}

.theme1.active{
    background-color: blue;
    color: white;
}
.theme2.active{
    background-color: blue;
    color: white;
}



/* button responsive */

@media (max-width :480px){
    .responsive{
        display: flex !important;
        flex-direction: row !important;
        align-items: baseline !important;
        justify-content: space-between;
        width: 90%;
    }

    .responsive h1{
        display: contents;
    }

    #footer div{
        display: flex !important;
        justify-content: center !important
    }
}